@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    box-sizing: border-box;
}

:root{
    --main-color:#222222;
    --sec-color:#ff6500;
    
}
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    
}
header{
    
    background-color :var(--main-color);
    color: white;
    padding: 10px;
    height: 75px;
    /* position: sticky;
    top:0; */
    z-index: 5;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    transform: translate(30px,-10px);
    font-size: 50px;
    font-weight:700;
}
header li {
    list-style: none;
    color: white;
    display: inline-block;
    transform: translate(-50px,-16px);

}
main{
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
}
h1{
    text-align: center;
    font-size: 50px;
    color: var(--main-color);
}
h2{
    text-align: center;
    text-transform: capitalize;
    color: var(--sec-color);
}
.images-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.cv1,.cv2,.cv3{
    width: 300px;
    margin:20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.19), 0px 6px 6px rgba(0, 0, 0, 0.23);

}
.cv1 img{
    width: 100%;
}
.cv2 img{
    width: 100%;
}
.cv3 img{
    width: 100%;
}
#cv1-image,#cv2-image,#cv3-image{
    width: 100%;
    margin-bottom: -10px;
    cursor: pointer;
}
#cv1-image:hover{
    transform: scale(105%);
    transition:0.2s ease-in-out;
}

#cv2-image:hover{
    transform: scale(105%);
    transition:0.2s ease-in-out;
}
#cv3-image:hover{
    transform: scale(105%);
    transition:0.2s ease-in-out;
}
button{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    margin: 3px;
}
.cv1-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.cv2-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.cv3-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
button:hover{
    transform: scale(1.1);
    transition:0.2s ease-in-out;
    cursor: pointer;
}
.hidden {
    display: none;
  }

  .rank-specification{
    /* margin-left: 10%; */
    /* margin-right: 10%; */
    font-size: 20px;
    color: var(--main-color);
    text-transform: capitalize ;
    font-weight: bold;
    text-align: center;
}
.write-cv{
    color: var(--sec-color);
    text-transform: capitalize ;
    margin-right: 10%;
    font-size: 45px;
    font-weight: bold;
}
.cv-information{
    text-transform: capitalize ;
    font-size: 20px;
    color: var(--main-color);
}
.follow-information{
font-weight: bold;
}
span{
    color: var(--sec-color);
    font-weight: bold;
}
.tips{
    font-size: 20px;
    color: var(--main-color);
}
#tip{
    font-size: 30px;
    font-weight: bold;
}
.our-template{
    color: var(--sec-color);
    font-size: 20px;
}
.scroll-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #222222;
    color: #ff6500;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    transition: background-color 0.2s ease-out;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border:2px #ff6500 solid;
    z-index: 3;
  }
  .arrow-up {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ff6500;
    width: 0;
    height: 0;
    position: relative;
  }
  .arrow-up:after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 45%;
    right: 45%;
    width: 5px;
    height: 10px;
    transform: translate(-50%,-50%);
    background-color: #ff6500;
  }

  .scroll-top-btn:hover .arrow-up {
    border-bottom-color: #222222;
  }
  .scroll-top-btn:hover .arrow-up:after {
    background-color: #222222;
  }
   
.scroll-top-btn:hover .arrow-up {
border-bottom-color: #222222;
}
.scroll-top-btn:hover{
background-color: #ff6500;

} 
::selection{
    background-color: #222222;
    color: white;
}
/* .write-cv,.cv-information,.tips,.our-template{
    margin-left: 5%;

} */
.container-2{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: none;
    margin-right: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:250px;
    background-color: var(--main-color);
    color: white;
    text-align: center;
    position: relative;
}
/* .logo-2{
    transform: translate(50px,-50px);
    font-size: 50px;
    font-weight: 900;
} */
.container-2 h6{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,360%);

}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    text-align: center;
    border-radius: 5px;
    width: 100%;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }